<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="text-center" style="padding-top: 100px;"><a href="/filmovi" class="btn btn-success"
        role="button">FILMOVI</a>
    <a href="/zanr" class="btn btn-info" role="button">ŽANROVI</a></div>